.site-nav-transparent {
    background-color: #8860D0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    height: 60px;

}

.centered-column-width {
    margin-left: 5px;
    margin-right: 5px;
}


/* Change the color of links on hover */
.topnav-transparent a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav-transparent a.active {
    background-color: #4CAF50;
    color: white;
}

.nav_logo {
    background: url("../resources/logo2_without_text.png");
    height: 45px;
    width: 41px;
    margin-left: 5px;
}

.nav_space {
    margin: auto;
}

/* unvisited link */
.nav_link:link {
  color:  #f2f2f2;
  background-color: transparent;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* visited link */
.nav_link:visited {
  color:  #f2f2f2;
  background-color: transparent;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* mouse over link */
.nav_link:hover {
  color:  #f2f2f2;
  background-color: transparent;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* selected link */
.nav_link:active {
  color:  #f2f2f2;
  background-color: transparent;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
} 

/* unvisited link */
.nav_button:link {
  color:  #f2f2f2;
  background-image: linear-gradient(to right, #8860d0 ,#5680e9);
  background-color: #8860d0; /* For browsers that do not support gradients */
  border: 2px solid green;
  text-align: center;
  text-decoration: none;
  padding: 8px 25px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
}

/* visited link */
.nav_button:visited {
  color:  #f2f2f2;
  background-image: linear-gradient(to right, #8860d0 ,#5680e9);
  background-color: #8860d0; /* For browsers that do not support gradients */
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  padding: 8px 25px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
}

/* mouse over link */
.nav_button:hover {
  color:  #f2f2f2;
  background-image: linear-gradient(to right, #8860d0 ,#5680e9);
  background-color: #8860d0; /* For browsers that do not support gradients */
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  padding: 8px 25px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  opacity: 0.9;
}

/* selected link */
.nav_button:active {
  color:  #f2f2f2;
  background-image: linear-gradient(to right, #8860d0 ,#5680e9);
  background-color: #8860d0; /* For browsers that do not support gradients */
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  padding: 8px 25px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  background-image: linear-gradient(to right, #653faa ,#3361d4);
}

.nav_button-inactive:link {
  color:  #f2f2f2;
  background-image: linear-gradient(to right, #8860d0 ,#5680e9);
  background-color: #8860d0; /* For browsers that do not support gradients */
  border: 2px solid green;
  opacity: 0.9;
  text-align: center;
  text-decoration: none;
  padding: 8px 25px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  pointer-events: none;
  cursor:pointer;
}

.nav_button-inactive:visited {
  color:  #f2f2f2;
  background-image: linear-gradient(to right, #8860d0 ,#5680e9);
  background-color: #8860d0; /* For browsers that do not support gradients */
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  opacity: 0.9;
  padding: 8px 25px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  pointer-events: none;
  cursor:pointer;
}

/* mouse over link */
.nav_button-inactive:hover {
  color:  #f2f2f2;
  background-image: linear-gradient(to right, #8860d0 ,#5680e9);
  background-color: #8860d0; /* For browsers that do not support gradients */
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  padding: 8px 25px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  opacity: 0.8;
  pointer-events: none;
  cursor:pointer;
}

/* selected link */
.nav_button-inactive:active {
  color:  #f2f2f2;
  background-image: linear-gradient(to right, #8860d0 ,#5680e9);
  background-color: #8860d0; /* For browsers that do not support gradients */
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  opacity: 0.9;
  padding: 8px 25px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  background-image: linear-gradient(to right, #653faa ,#3361d4);
  pointer-events: none;
  cursor:pointer;
}

main {
    position: absolute;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-wrap: wrap;
}

.main_section {
    height: 100%;
    display: flex;
    /**/
    flex-direction: column;
    /**/
    width: calc(100% - 60px);
}

.sidenav {
    width: 60px;
    background-color: #5680e9;
    flex: 60px;
    z-index: 998;
}

.workspace {
    width: 100%;
    position: relative;
    background-color: #C1C8E4;
    height: calc(100% - 40px);
}

.bottom_side_menu {
    width: 100%;
    background-color: #a689dc;
    height: 40px;
    z-index: 997;

}

.navbar .btn {
    /*background-color: #8860d0;*/  /*For browsers that do not support gradients*/
    background-image: linear-gradient(to right, #8860d0 ,#5680e9);
    color: #f2f2f2;
    border: none;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    cursor:pointer;
}

.navbar .btn:hover {
    background-image: linear-gradient(to right, #8860d0 ,#5680e9);
    opacity: 0.9;
    cursor:pointer;
}

.navbar .btn:active {
    background-image: linear-gradient(to right, #653faa ,#3361d4);
    opacity: 0.9;
    cursor:pointer;
}

.section_image{
  height: auto;
  width: 100%;
}

.text_workspace {
    text-align: center;
    color: #f2f2f2;
    font-size: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.image_workspace {
    position: absolute;
    /*height: 100%;
    width: auto;*/
    /*max-height: 900px;*/
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sidenav-tools {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 57px;
    background-color: #7899ed;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.sidenav-tools .closebtn {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
  color: #f2f2f2;
  border: none;
  text-decoration: none;
  font-size: 30px;
  cursor:pointer;
  background-color:transparent;
}

/*.sidenav-tools .btn-images {
    *//*background-size: contain;*//*
    background-size: cover;
    padding: 56px 101px;
    color: #f2f2f2;
    border: none;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    cursor:pointer;
    margin-left: 6.325px;
    margin-right: 6.325px;
    margin-bottom: 5px;

    *//**//*
    max-height: 160px;
    *//*max-width: 239.867px;*//*
    max-width: 237px;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
}*/

.sidenav-tools .btn-images {

    background-size: cover;
    padding: 56px 101px;
    color: #f2f2f2;
    border: none;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    cursor:pointer;
    margin-left: 6.325px;
    margin-right: 6.325px;
    margin-bottom: 5px;

    height: 158px;
    width: 237px;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
}


.sidenav-tools .btn-images-small {
    /*background-size: contain;*/
    background-size: cover;
    padding: 56px 101px;
    color: #f2f2f2;
    border: none;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    cursor:pointer;
    margin-left: 6.325px;
    margin-right: 6.325px;
    margin-bottom: 5px;

    /**/
    height: 158px;
    /*max-width: 239.867px;*/
    width: 222px;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
}

.sidenav-tools .btn-images-big {
    /*background-size: contain;*/
    background-size: cover;
    padding: 56px 101px;
    color: #f2f2f2;
    border: none;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    cursor:pointer;
    margin-left: 6.325px;
    margin-right: 6.325px;
    margin-bottom: 5px;

    /**/
    height: 158px;
    /*max-width: 239.867px;*/
    width: 237px;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
}

.sidenav-tools .with_text {

    padding: 56px 101px;
    color: #f2f2f2;

    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-left: 6.325px;
    margin-right: 6.325px;
    margin-bottom: 5px;

    font-family: 'Nunito', sans-serif;
    font-weight:700;
}

.sidenav-tools .without_text {

    padding: 56px 101px;

    margin-left: 6.325px;
    margin-right: 6.325px;
    margin-bottom: 15px;

}

.sidenav-tools .btn-images:hover{
    color: #f1f1f1;
}

.sidenav .btn-icons {
    background-size: contain;
    background-color: transparent;
    border: none;
    margin: auto;
    text-decoration: none;
    cursor:pointer;
    margin-top: 20px;
}

#buttonColorSpace {
    padding: 15px 16px;
    margin-left: 13px;
    margin-right: 9px;
    background-image: url("../resources/icon_color_space_default.png");
}

#buttonColorSpace:hover {
    padding: 15px 16px;
    margin-left: 13px;
    margin-right: 9px;
    background-image: url("../resources/icon_color_space_hover.png");
}

#buttonTransformation {
    padding: 18px 15.5px;
    margin-left: 13px;
    margin-right: 9px;
    background-image: url("../resources/icon_transformation_default.png");
}

#buttonTransformation:hover {
    padding: 18px 15.5px;
    margin-left: 13px;
    margin-right: 9px;
    background-image: url("../resources/icon_transformation_hover.png");
}

#buttonSmooth {
    padding: 16px 14.5px;
    margin-left: 13px;
    margin-right: 9px;
    background-image: url("../resources/icon_smooth_default.png");
}

#buttonSmooth:hover {
    padding: 16px 14.5px;
    margin-left: 13px;
    margin-right: 9px;
    background-image: url("../resources/icon_smooth_hover.png");
}

#buttonEdge {
    padding: 15px 15px;
    margin-left: 13px;
    margin-right: 9px;
    background-image: url("../resources/icon_edge_default.png");
}

#buttonEdge:hover {
    padding: 15px 15px;
    margin-left: 13px;
    margin-right: 9px;
    background-image: url("../resources/icon_edge_hover.png");
}

#buttonGradient {
    padding: 15px 15px;
    margin-left: 13px;
    margin-right: 9px;
    background-image: url("../resources/icon_gradient_default.png");
}

#buttonGradient:hover {
    padding: 15px 15px;
    margin-left: 13px;
    margin-right: 9px;
    background-image: url("../resources/icon_gradient_hover.png");
}

#buttonFilter {
    padding: 16px 15px;
    margin-left: 13px;
    margin-right: 9px;
    background-image: url("../resources/icon_filter.png");
}

#buttonFilter:hover {
    padding: 16px 15px;
    margin-left: 13px;
    margin-right: 9px;
    background-image: url("../resources/icon_filter_hover.png");
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #8860D0;
  color: #f2f2f2;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 999;
  left: 60px;
  font-family: 'Nunito', sans-serif;
  font-weight:300;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#colorSpace-tooltiptext {
    top: 20px;
}

#transformation-tooltiptext{
    top: 65px;
}

#smooth-tooltiptext{
    top: 125px;
}

#edge-tooltiptext{
    top: 180px;
}

#gradient-tooltiptext{
    top: 230px;
}

#filter-tooltiptext{
    top: 280px;
}

.dropbtn {
  background-color: transparent;
  color: #f2f2f2;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-weight:300;

}

.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}

.dropdown {
  margin-right: 100px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #a689dc;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 999;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.caret {
    width: 0;
    height: 0;
    display: inline-block;
    border: solid transparent;
    border-bottom-width: 0px;
    border-top-width: 10px;
    margin-left: 3px;
    border-left-width: 5px;
    border-right-width: 5px;
}

.caret.down{
    border-top-color: #f2f2f2;
}

.titleSectionTools {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
    color: #f2f2f2;
    font-size: 24px;
    margin-bottom: 20px;
}

.titleInnerSectionTools {
    font-family: 'Nunito', sans-serif;
    font-weight:300;
    color: #f2f2f2;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.titleImageSectionTools {
    font-family: 'Nunito', sans-serif;
    font-weight:300;
    color: #f2f2f2;
    font-size: 20px;
    margin-bottom: 2px;
    padding-left: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
    display: flex;
}

#sideNavToolsEdge {
    height: calc(100% - 60px - 40px);
}

#sideNavToolsColorSpace {
    height: calc(100% - 60px - 40px);
}

#sideNavToolsFilter {
    height: calc(100% - 60px - 40px);
}

.btnCenterToolsContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.row label {
    font-family: 'Nunito', sans-serif;
    font-weight:300;
    color: #f2f2f2;
    font-size: 14px;
}

.column label {
    font-family: 'Nunito', sans-serif;
    font-weight:300;
    color: #f2f2f2;
    font-size: 14px;
}

hr {
    height: 2px;
    background-color: #5680e9;
    margin-bottom: 20px;
}


.btnCenterToolsContainer button {
    background-color: #8860D0;
    color: #f2f2f2;
    font-family: 'Nunito', sans-serif;
    font-weight:300;

    border: none;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    cursor:pointer;
}

.bottom_side_shadow {
    box-shadow: 0 7px 7px -7px #333;
}

.top_side_shadow {
    box-shadow: 0 -5px 5px -5px #333;
}

.right_side-shadow {
    box-shadow: 3px 0 3px -3px #333;
}


