<!DOCTYPE html>
<html lang="en">
<head>
    <title>Image Editor - ePixxel</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{{ url_for('static', filename='/css_styles/main_page.css')}}">

    <style>
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
        }
    </style>

    <script>
            function setup() {
                document.getElementById('buttonId1').addEventListener('click', openDialog);
                function openDialog() {
                    document.getElementById('fileId').click();
                }
                document.getElementById('fileId').addEventListener('change', submitForm);
                function submitForm() {
                    document.getElementById('formId').submit();
                }
            }
        </script>
</head>

<body onload="setup()">
    <header class="site-nav-transparent " id=site_nav>
        
        <div class="navbar centered-column-width bottom_side_shadow"  id="mynav">
            <a href="{{ url_for('start_page')}}" class="nav_logo"></a>
            
            <div class="nav_space"></div>

            <form id="formId" method="POST" enctype="multipart/form-data">
                <input id="fileId" type="file" name="file" hidden>
                <input type="submit" value="Submit" hidden>
            </form>

             <button id="buttonId1" type="button" class="btn" style="font-family: 'Nunito', sans-serif; font-weight:300; margin-right: 10px;">Open</button>

            {% if filename != 'None' %}
                    <a href="{{url_for('download', filename=filename)}}" class="nav_button" style="font-family: 'Nunito', sans-serif; font-weight:300; margin-left: 10px;">Save</a>
                {% else %}
                    <a href="#" class="nav_button-inactive" style="font-family: 'Nunito', sans-serif; font-weight:300; margin-left: 10px;">Save</a>
                {% endif %}

            <div class="nav_space"></div>

            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Settings<span class="caret down"></span></button>

                <div id="myDropdown" class="dropdown-content">
                    <a href="#sign_in"  style="font-family: 'Nunito', sans-serif; font-weight:300;">Sign in</a>
                    <a href="#sign_up"  style="font-family: 'Nunito', sans-serif; font-weight:300;">Sign up</a>
                </div>

            </div>
          </div>
    </header>

    <main>

        <div class="sidenav right_side-shadow">
                <button id="buttonColorSpace" class="btn btn-icons tooltip" onclick="openSideNavTools(this)"><span id="colorSpace-tooltiptext" class="tooltiptext">Colorspaces</span></button>
                <button id="buttonTransformation" class="btn btn-icons tooltip" onclick="openSideNavTools(this)"><span id="transformation-tooltiptext" class="tooltiptext">Geometric Transformations</span></button>
                <button id="buttonSmooth" class="btn btn-icons tooltip" onclick="openSideNavTools(this)"><span id="smooth-tooltiptext" class="tooltiptext">Smoothing</span></button>
                <button id="buttonEdge" class="btn btn-icons tooltip" onclick="openSideNavTools(this)"><span id="edge-tooltiptext" class="tooltiptext">Edge Detection</span></button>
                <button id="buttonGradient" class="btn btn-icons tooltip" onclick="openSideNavTools(this)"><span id="gradient-tooltiptext" class="tooltiptext">Gradients</span></button>
                <button id="buttonFilter" class="btn btn-icons tooltip" onclick="openSideNavTools(this)"><span id="filter-tooltiptext" class="tooltiptext">Filters</span></button>

                <div id="sideNavToolsColorSpace" class="sidenav-tools">
                    <button id="buttonCloseColorSpace" class="closebtn" onclick="closeSideNavTools(this)">&times;</button>
                    <div class="titleSectionTools">Colorspaces</div>
                    <form id="formImageFunctionsId" action="{{ url_for('operation', filename=filename, mode='color_space') }}" method="POST" enctype="multipart/form-data">
                        <div class="titleImageSectionTools">To HSV</div>
                        <button type="submit" class="btn-images-big without_text" value="convertToHSV" name="colorButton" style="background-image: url({{url_for('static', filename='/resources/hsv.jpg')}});"></button>
                        <div class="titleImageSectionTools">To Gray</div>
                        <button type="submit" class="btn-images-big without_text" value="convertToGRAY" name="colorButton" style="background-image: url({{url_for('static', filename='/resources/gray.jpg')}});"></button>
                        <div class="titleImageSectionTools">To LAB</div>
                        <button type="submit" class="btn-images-big without_text" value="convertToLAB" name="colorButton" style="background-image: url({{url_for('static', filename='/resources/lab.jpg')}});"></button>
                        <div class="titleImageSectionTools">To RGB</div>
                        <button type="submit" class="btn-images-big without_text" value="convertToRGB" name="colorButton" style="background-image: url({{url_for('static', filename='/resources/rgb.jpg')}});"></button>
                    </form>
                </div>

                <div id="sideNavToolsTransformation" class="sidenav-tools">
                    <button id="buttonCloseTransformation" class="closebtn" onclick="closeSideNavTools(this)">&times;</button>
                    <div class="titleSectionTools">Geometric Transformations</div>
                    <form id="formImageTransformationId" action="{{ url_for('operation', filename=filename, mode='geometric_transformation') }}" method="POST" enctype="multipart/form-data">
                        <div class="titleInnerSectionTools">Scaling</div>
                        <div class="row" style="margin-left:10px;">
                            <label for="textInputWidthSizeId" style="margin-right: 3px;">Width:</label>
                            <input type="number" id="textInputWidthSizeId" name="textInputWidthSize" size="3">
                            <label for="textInputHeightSizeId" style="margin-left: 40px; margin-right: 3px;">Height:</label>
                            <input type="number" id="textInputHeightSizeId" name="textInputHeightSize" size="3">

                        </div>
                        <div class="row" style="margin-left:10px;">
                            <input type="radio" id="radioUnitsPxId" name="radioUnits" value="px" checked>
                            <label for="radioUnitsPxId">px</label>
                            <input type="radio" id="radioUnitsPercId" name="radioUnits" value="perc" style="margin-left: 10px;">
                            <label for="radioUnitsPercId">%</label>
                        </div>

                        <div class="btnCenterToolsContainer">
                            <button type="submit" form="formImageTransformationId" class="btnCenterTools" value="scale" name="transformationButton" style=" font-family: 'Nunito', sans-serif; font-weight:700;">Scale</button>
                        </div>


                        <hr>

                        <div class="titleInnerSectionTools">Rotation</div>
                        <div class="row" style="margin-left:10px;">
                            <label for="textInputAngleId" style="margin-right: 3px;">Angle:</label>
                            <input type="number" id="textInputAngleId" name="textInputAngle">
                            <label for="textInputAngleId" style="margin-left: 3px;">°</label>
                        </div>

                        <div class="btnCenterToolsContainer">
                        <button type="submit" form="formImageTransformationId" class="" value="rotate" name="transformationButton" style=" font-family: 'Nunito', sans-serif; font-weight:700;">Rotate</button>
                        </div>
                        <hr>

                        <div class="titleInnerSectionTools">Cropping</div>
                        <div class="row" style="margin-left:10px;">
                            <div class="column">
                                <label for="textInputTopCropId" style="margin-right: 3px; margin-bottom: 5px;">Top:</label>
                                <label for="textInputBottomCropId" style="margin-right: 3px;">Bottom:</label>
                            </div>
                            <div class="column">
                                <input type="number" id="textInputTopCropId" name="textInputTopCrop" size="3" style="margin-bottom: 5px;">
                                <input type="number" id="textInputBottomCropId" name="textInputBottomCrop" size="3">
                            </div>
                            <div class="column">
                                <label for="textInputTopCropId" style="margin-left: 3px; margin-bottom: 5px;">°</label>
                                <label for="textInputBottomCropId" style="margin-left: 3px;">°</label>
                            </div>
                            <div class="column">
                                <label for="textInputCropLeftId" style="margin-right: 3px; margin-left: 30px; margin-bottom: 5px;">Left:</label>
                                <label for="textInputCropRightId" style="margin-right: 3px; margin-left: 30px;">Right:</label>
                            </div>
                            <div class="column">
                                <input type="number" id="textInputCropLeftId" name="textInputLeftCrop" size="3" style="margin-bottom: 5px;">
                                <input type="number" id="textInputCropRightId" name="textInputRightCrop" size="3">
                            </div>
                            <div class="column">
                                <label for="textInputCropLeftId" style="margin-left: 3px; margin-bottom: 5px;">°</label>
                                <label for="textInputCropRightId" style="margin-left: 3px;">°</label>
                            </div>
                        </div>

                        <div class="btnCenterToolsContainer">
                        <button type="submit" form="formImageTransformationId" class="" value="crop" name="transformationButton" style=" font-family: 'Nunito', sans-serif; font-weight:700;">Crop</button>
                        </div>
                    </form>




                </div>

                <div id="sideNavToolsSmooth" class="sidenav-tools">

                    <button id="buttonCloseSmooth" class="closebtn" onclick="closeSideNavTools(this)">&times;</button>
                     <div class="titleSectionTools">Smoothing</div>

                    <form id="formImageSmoothId" action="{{ url_for('operation', filename=filename, mode='smooth') }}" method="POST" enctype="multipart/form-data">
                        <div class="titleInnerSectionTools">Gaussian Blur</div>

                        <div class="row" style="margin-left:10px;">
                            <div class="column">
                                <label for="textInputKernelWidthId" style="margin-right: 3px; margin-bottom: 5px;">Kernel's width:</label>
                                <label for="textInputKernelHeightId" style="margin-right: 3px;">Kernel's height:</label>
                            </div>

                             <div class="column">
                                <input type="number" id="textInputKernelWidthId" name="textInputKernelWidth" size="3" style="margin-bottom: 5px;">
                                <input type="number" id="textInputKernelHeightId" name="textInputKernelHeight" size="3">
                            </div>
                        </div>

                        <div class="btnCenterToolsContainer">
                        <button type="submit" form="formImageSmoothId" class="" value="gaussian_blur" name="blurButton" style=" font-family: 'Nunito', sans-serif; font-weight:700;">Gaussian Blur</button>
                        </div>

                        <hr>

                        <div class="titleInnerSectionTools">Median Blur</div>
                        <div class="row" style="margin-left:10px;">
                            <label for="textInputKernelMedianId" style="margin-right: 3px;">Kernel's median value:</label>
                            <input type="number" id="textInputKernelMedianId" name="textInputKernelMedianValue" size="3">
                        </div>

                        <div class="btnCenterToolsContainer">
                        <button type="submit" form="formImageSmoothId" class="" value="median_blur" name="blurButton" style=" font-family: 'Nunito', sans-serif; font-weight:700;"> Median Blur</button>
                        </div>


                    </form>
                </div>

                <div id="sideNavToolsEdge" class="sidenav-tools">
                    <button id="buttonCloseEdge" class="closebtn" onclick="closeSideNavTools(this)">&times;</button>

                    <form id="formImageEdgeDetectingId" action="{{ url_for('operation', filename=filename, mode='edge_detecting') }}" method="POST" enctype="multipart/form-data">
                        <div class="titleSectionTools">Edge Detection</div>

                        <div class="row" style="margin-left:10px;">
                            <div class="column">
                                <label for="textInputMinValueEdgeId" style="margin-right: 3px; margin-bottom: 5px;">Min value:</label>
                                <label for="textInputMaxValueEdgeId" style="margin-right: 3px;">Max value:</label>
                            </div>

                             <div class="column">
                                <input type="number" id="textInputMinValueEdgeId" name="textInputMinValueEdge" size="3" style="margin-bottom: 5px;">
                                <input type="number" id="textInputMaxValueEdgeId" name="textInputMaxValueEdge" size="3">
                            </div>
                        </div>

                        <div class="btnCenterToolsContainer">
                        <button type="submit" form="formImageEdgeDetectingId" class="" value="edge_detecting_manual" name="edgeDetectionButton" style=" font-family: 'Nunito', sans-serif; font-weight:700;">Detect</button>
                        </div>

                        <hr>

                        <button type="submit" class="btn-images-small with_text" value="template_1" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_1.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#1</button>
                        <button type="submit" class="btn-images-small with_text" value="template_2" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_2.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#2</button>
                        <button type="submit" class="btn-images-small with_text" value="template_3" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_3.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#3</button>
                        <button type="submit" class="btn-images-small with_text" value="template_4" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_4.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#4</button>
                        <button type="submit" class="btn-images-small with_text" value="template_5" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_5.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#5</button>
                        <button type="submit" class="btn-images-small with_text" value="template_6" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_6.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#6</button>
                        <button type="submit" class="btn-images-small with_text" value="template_7" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_8.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#7</button>
                    </form>
                </div>

                <div id="sideNavToolsGradient" class="sidenav-tools">
                    <button id="buttonCloseGradient" class="closebtn" onclick="closeSideNavTools(this)">&times;</button>
                    <div class="titleSectionTools">Gradients</div>
                    <form id="formImageGradientId" action="{{ url_for('operation', filename=filename, mode='gradient') }}" method="POST" enctype="multipart/form-data">
<!--                        <div class="btnCenterToolsContainer">-->
<!--                        <button type="submit" form="formImageGradientId" class="" value="gradient" name="gradientButton" style=" font-family: 'Nunito', sans-serif; font-weight:700;">Gradient</button>-->
<!--                        </div>-->
                        <div class="titleImageSectionTools">X Direction</div>
                        <button type="submit" class="btn-images-big without_text" value="x_direction" name="gradientButton" style="background-image: url({{url_for('static', filename='/resources/gradient_x_direction.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>
                        <div class="titleImageSectionTools">Y Direction</div>
                        <button type="submit" class="btn-images-big without_text" value="y_direction" name="gradientButton" style="background-image: url({{url_for('static', filename='/resources/gradient_y_direction.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>
                        <div class="titleImageSectionTools">X & Y Direction</div>
                        <button type="submit" class="btn-images-big without_text" value="x_y_direction" name="gradientButton" style="background-image: url({{url_for('static', filename='/resources/gradient_x_y_direction.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>
                    </form>
                </div>

                <div id="sideNavToolsFilter" class="sidenav-tools">
                    <button id="buttonCloseFilter" class="closebtn" onclick="closeSideNavTools(this)">&times;</button>
                    <form id="formImageFilterId" action="{{ url_for('operation', filename=filename, mode='filter') }}" method="POST" enctype="multipart/form-data">
                        <div class="titleSectionTools">Filters</div>
                        <div class="titleImageSectionTools">Cartoon</div>
                        <button type="submit" class="btn-images-small without_text" value="cartoon_filter" name="filterButton" style="background-image: url({{url_for('static', filename='/resources/cartoon_filter.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>
                        <div class="titleImageSectionTools">Watercolor</div>
                        <button type="submit" class="btn-images-small without_text" value="watercolor_filter" name="filterButton" style="background-image: url({{url_for('static', filename='/resources/watercolor_filter.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>
                        <div class="titleImageSectionTools">Sketch#1</div>
                        <button type="submit" class="btn-images-small without_text" value="sketch_filter" name="filterButton" style="background-image: url({{url_for('static', filename='/resources/sketch_filter.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>
                        <div class="titleImageSectionTools">Sketch#2</div>
                        <button type="submit" class="btn-images-small without_text" value="black_white_sketch_filter" name="filterButton" style="background-image: url({{url_for('static', filename='/resources/black_white_sketch_filter.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>
                        <div class="titleImageSectionTools">Colored sketch</div>
                        <button type="submit" class="btn-images-small without_text" value="colored_sketch_filter" name="filterButton" style="background-image: url({{url_for('static', filename='/resources/colored_sketch_filter.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>

                    </form>
                </div>

              </div>

        <div class="main_section">


            <div class="workspace">

                {% if filename != 'None' %}
                    <img class="image_workspace" src="{{url_for('upload', filename=filename)}}">
                {% else %}
                    <div class="text_workspace">
                        <p style="font-family: 'Nunito', sans-serif; font-weight: 300;">Image is not selected!</p>
                    </div>
                {% endif %}

            </div>

            <div class="bottom_side_menu top_side_shadow">

            </div>
        </div>

    </main>

<script>

function openSideNavTools(x) {

    if(x.id == "buttonColorSpace"){
        document.getElementById("sideNavToolsColorSpace").style.width = "250px";
    }else if(x.id == "buttonTransformation"){
        document.getElementById("sideNavToolsTransformation").style.width = "250px";
    }else if(x.id == "buttonSmooth"){
        document.getElementById("sideNavToolsSmooth").style.width = "250px";
    }else if(x.id == "buttonEdge"){
        document.getElementById("sideNavToolsEdge").style.width = "250px";
    }else if(x.id == "buttonGradient"){
        document.getElementById("sideNavToolsGradient").style.width = "250px";
    }else if(x.id == "buttonFilter"){
        document.getElementById("sideNavToolsFilter").style.width = "250px";
    }
}

function closeSideNavTools(x) {

    if(x.id == "buttonCloseColorSpace"){
        document.getElementById("sideNavToolsColorSpace").style.width = "0";
    }else if(x.id == "buttonCloseTransformation"){
        document.getElementById("sideNavToolsTransformation").style.width = "0";
    }else if(x.id == "buttonCloseSmooth"){
        document.getElementById("sideNavToolsSmooth").style.width = "0";
    }else if(x.id == "buttonCloseEdge"){
        document.getElementById("sideNavToolsEdge").style.width = "0";
    }else if(x.id == "buttonCloseGradient"){
        document.getElementById("sideNavToolsGradient").style.width = "0";
    }else if(x.id == "buttonCloseFilter"){
        document.getElementById("sideNavToolsFilter").style.width = "0";
    }
}

function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

</script>

</body>

</html>