<!DOCTYPE html>
<html lang="en">
<head>
    <title>Image Editor - ePixxel</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{{ url_for('static', filename='/css_styles/main_page.css')}}">

    <style>
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
        }
    </style>

    <script>
            function setup() {
                document.getElementById('buttonId1').addEventListener('click', openDialog);
                function openDialog() {
                    document.getElementById('fileId').click();
                }
                document.getElementById('fileId').addEventListener('change', submitForm);
                function submitForm() {
                    document.getElementById('formId').submit();
                }
            }
        </script>
</head>

<body onload="setup()">
    <header class="site-nav-transparent " id=site_nav>
        
        <div class="navbar centered-column-width bottom_side_shadow"  id="mynav">
            <a href="{{ url_for('start_page')}}" class="nav_logo"></a>

            <div class="nav_space"></div>

            <form id="formId" method="POST" enctype="multipart/form-data">
                <input id="fileId" type="file" name="file" hidden>
                <input type="submit" value="Submit" hidden>
            </form>

             <button id="buttonId1" type="button" class="btn" style="font-family: 'Nunito', sans-serif; font-weight:300; margin-right: 10px; margin-left: 100px;">Open</button>

            {% if filename != 'None' %}
                    <a href="{{url_for('download', filename=filename)}}" class="nav_button" style="font-family: 'Nunito', sans-serif; font-weight:300; margin-left: 10px;">Save</a>
                {% else %}
                    <a href="#" class="nav_button-inactive" style="font-family: 'Nunito', sans-serif; font-weight:300; margin-left: 10px;">Save</a>
                {% endif %}

            <div class="nav_space"></div>

            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Settings<span class="caret down"></span></button>

                <div id="myDropdown" class="dropdown-content">
                    <a href="#sign_in"  style="font-family: 'Nunito', sans-serif; font-weight:300;">Sign in</a>
                    <a href="#sign_up"  style="font-family: 'Nunito', sans-serif; font-weight:300;">Sign up</a>
                </div>

            </div>
          </div>
    </header>

    <main>

        <div class="sidenav right_side-shadow">
                <button id="buttonColorSpace" class="btn btn-icons tooltip" onclick="openSideNavTools(this)"><span id="colorSpace-tooltiptext" class="tooltiptext">Colorspaces</span></button>
                <button id="buttonTransformation" class="btn btn-icons tooltip" onclick="openSideNavTools(this)"><span id="transformation-tooltiptext" class="tooltiptext">Geometric Transformations</span></button>
                <button id="buttonSmooth" class="btn btn-icons tooltip" onclick="openSideNavTools(this)"><span id="smooth-tooltiptext" class="tooltiptext">Smoothing</span></button>
                <button id="buttonEdge" class="btn btn-icons tooltip" onclick="openSideNavTools(this)"><span id="edge-tooltiptext" class="tooltiptext">Edge Detection</span></button>
                <button id="buttonGradient" class="btn btn-icons tooltip" onclick="openSideNavTools(this)"><span id="gradient-tooltiptext" class="tooltiptext">Gradients</span></button>
                <button id="buttonFilter" class="btn btn-icons tooltip" onclick="openSideNavTools(this)"><span id="filter-tooltiptext" class="tooltiptext">Filters</span></button>

                <div id="sideNavToolsColorSpace" class="sidenav-tools partSideNavToolsColorSpace">

                    <button id="buttonCloseColorSpace" class="closebtn" onclick="closeSideNavTools(this)">&times;</button>

                    <div class="titleSectionTools partSideNavToolsColorSpace">Colorspaces</div>

                    <form class="partSideNavToolsColorSpace" id="formImageFunctionsId" action="{{ url_for('operation', filename=filename, mode='color_space') }}" method="POST" enctype="multipart/form-data">

                        <div class="titleImageSectionTools partSideNavToolsColorSpace">To HSV</div>
                        <button type="submit" class="btn-images-big without_text partSideNavToolsColorSpace" value="convertToHSV" name="colorButton" style="background-image: url({{url_for('static', filename='/resources/hsv.jpg')}});"></button>
                        <div class="titleImageSectionTools partSideNavToolsColorSpace">To Gray</div>
                        <button type="submit" class="btn-images-big without_text partSideNavToolsColorSpace" value="convertToGRAY" name="colorButton" style="background-image: url({{url_for('static', filename='/resources/gray.jpg')}});"></button>
                        <div class="titleImageSectionTools partSideNavToolsColorSpace">To LAB</div>
                        <button type="submit" class="btn-images-big without_text partSideNavToolsColorSpace" value="convertToLAB" name="colorButton" style="background-image: url({{url_for('static', filename='/resources/lab.jpg')}});"></button>
                        <div class="titleImageSectionTools partSideNavToolsColorSpace">To RGB</div>
                        <button type="submit" class="btn-images-big without_text partSideNavToolsColorSpace" value="convertToRGB" name="colorButton" style="background-image: url({{url_for('static', filename='/resources/rgb.jpg')}});"></button>

                    </form>
                </div>

                <div id="sideNavToolsTransformation" class="sidenav-tools partSideNavToolsTransformation">
                    <button id="buttonCloseTransformation" class="closebtn" onclick="closeSideNavTools(this)">&times;</button>

                    <div class="titleSectionTools partSideNavToolsTransformation">Geometric Transformations</div>

                    <form class="partSideNavToolsTransformation" id="formImageTransformationId" action="{{ url_for('operation', filename=filename, mode='geometric_transformation') }}" method="POST" enctype="multipart/form-data">

                        <div class="titleInnerSectionTools partSideNavToolsTransformation">Scaling</div>

                        <div class="row partSideNavToolsTransformation" style="margin-left:10px;">
                            <label for="textInputWidthSizeId" class="partSideNavToolsTransformation" style="margin-right: 3px;">Width:</label>
                            <input type="number" id="textInputWidthSizeId" name="textInputWidthSize" class="partSideNavToolsTransformation" size="3">
                            <label for="textInputHeightSizeId" class="partSideNavToolsTransformation" style="margin-left: 40px; margin-right: 3px;">Height:</label>
                            <input type="number" id="textInputHeightSizeId" name="textInputHeightSize" class="partSideNavToolsTransformation" size="3">
                        </div>

                        <div class="row partSideNavToolsTransformation" style="margin-left:10px;">
                            <input type="radio" id="radioUnitsPxId" name="radioUnits" class="partSideNavToolsTransformation" value="px" checked>
                            <label for="radioUnitsPxId" class="partSideNavToolsTransformation">px</label>
                            <input type="radio" id="radioUnitsPercId" name="radioUnits" class="partSideNavToolsTransformation" value="perc" style="margin-left: 10px;">
                            <label for="radioUnitsPercId" class="partSideNavToolsTransformation">%</label>
                        </div>

                        <div class="btnCenterToolsContainer partSideNavToolsTransformation">
                            <button type="submit" form="formImageTransformationId" class="btnCenterTools partSideNavToolsTransformation" value="scale" name="transformationButton" style=" font-family: 'Nunito', sans-serif; font-weight:700;">Scale</button>
                        </div>

                        <hr class="partSideNavToolsTransformation">

                        <div class="titleInnerSectionTools partSideNavToolsTransformation">Rotation</div>
                        <div class="row partSideNavToolsTransformation" style="margin-left:10px;">
                            <label class="partSideNavToolsTransformation" for="textInputAngleId" style="margin-right: 3px;">Angle:</label>
                            <input class="partSideNavToolsTransformation" type="number" id="textInputAngleId" name="textInputAngle">
                            <label class="partSideNavToolsTransformation" for="textInputAngleId" style="margin-left: 3px;">°</label>
                        </div>

                        <div class="btnCenterToolsContainer partSideNavToolsTransformation">
                            <button type="submit" form="formImageTransformationId" class="partSideNavToolsTransformation" value="rotate" name="transformationButton" style=" font-family: 'Nunito', sans-serif; font-weight:700;">Rotate</button>
                        </div>

                        <hr class="partSideNavToolsTransformation">

                        <div class="titleInnerSectionTools partSideNavToolsTransformation">Cropping</div>

                        <div class="row partSideNavToolsTransformation" style="margin-left:10px;">

                            <div class="column partSideNavToolsTransformation">
                                <label class="partSideNavToolsTransformation" for="textInputTopCropId" style="margin-right: 3px; margin-bottom: 5px;">Top:</label>
                                <label class="partSideNavToolsTransformation" for="textInputBottomCropId" style="margin-right: 3px;">Bottom:</label>
                            </div>

                            <div class="column partSideNavToolsTransformation">
                                <input class="partSideNavToolsTransformation" type="number" id="textInputTopCropId" name="textInputTopCrop" size="3" style="margin-bottom: 5px;">
                                <input class="partSideNavToolsTransformation" type="number" id="textInputBottomCropId" name="textInputBottomCrop" size="3">
                            </div>

                            <div class="column partSideNavToolsTransformation">
                                <label class="partSideNavToolsTransformation" for="textInputTopCropId" style="margin-left: 3px; margin-bottom: 5px;">%</label>
                                <label class="partSideNavToolsTransformation" for="textInputBottomCropId" style="margin-left: 3px;">%</label>
                            </div>

                            <div class="column partSideNavToolsTransformation">
                                <label class="partSideNavToolsTransformation" for="textInputCropLeftId" style="margin-right: 3px; margin-left: 30px; margin-bottom: 5px;">Left:</label>
                                <label class="partSideNavToolsTransformation" for="textInputCropRightId" style="margin-right: 3px; margin-left: 30px;">Right:</label>
                            </div>

                            <div class="column partSideNavToolsTransformation">
                                <input class="partSideNavToolsTransformation" type="number" id="textInputCropLeftId" name="textInputLeftCrop" size="3" style="margin-bottom: 5px;">
                                <input class="partSideNavToolsTransformation" type="number" id="textInputCropRightId" name="textInputRightCrop" size="3">
                            </div>

                            <div class="column partSideNavToolsTransformation">
                                <label class="partSideNavToolsTransformation" for="textInputCropLeftId" style="margin-left: 3px; margin-bottom: 5px;">%</label>
                                <label class="partSideNavToolsTransformation" for="textInputCropRightId" style="margin-left: 3px;">%</label>
                            </div>
                        </div>

                        <div class="btnCenterToolsContainer partSideNavToolsTransformation">
                            <button type="submit" form="formImageTransformationId" class="partSideNavToolsTransformation" value="crop" name="transformationButton" style=" font-family: 'Nunito', sans-serif; font-weight:700;">Crop</button>
                        </div>
                    </form>

                </div>

                <div id="sideNavToolsSmooth" class="sidenav-tools partSideNavToolsSmooth">

                    <button id="buttonCloseSmooth" class="closebtn" onclick="closeSideNavTools(this)">&times;</button>
                     <div class="titleSectionTools partSideNavToolsSmooth">Smoothing</div>

                    <form class="partSideNavToolsSmooth" id="formImageSmoothId" action="{{ url_for('operation', filename=filename, mode='smooth') }}" method="POST" enctype="multipart/form-data">
                        <div class="titleInnerSectionTools partSideNavToolsSmooth">Gaussian Blur</div>

                        <div class="row partSideNavToolsSmooth" style="margin-left:10px;">
                            <div class="column partSideNavToolsSmooth">
                                <label class="partSideNavToolsSmooth" for="textInputKernelWidthId" style="margin-right: 3px; margin-bottom: 5px;">Kernel's width:</label>
                                <label class="partSideNavToolsSmooth" for="textInputKernelHeightId" style="margin-right: 3px;">Kernel's height:</label>
                            </div>

                             <div class="column partSideNavToolsSmooth">
                                <input class="partSideNavToolsSmooth" type="number" id="textInputKernelWidthId" name="textInputKernelWidth" size="3" style="margin-bottom: 5px;">
                                <input class="partSideNavToolsSmooth" type="number" id="textInputKernelHeightId" name="textInputKernelHeight" size="3">
                            </div>

                            <div class="column partSideNavToolsSmooth">
                                <label class="partSideNavToolsSmooth" for="textInputKernelWidthId" style="margin-left: 3px; margin-bottom: 5px;">px</label>
                                <label class="partSideNavToolsSmooth" for="textInputKernelHeightId" style="margin-left: 3px;">px</label>
                            </div>
                        </div>

                        <div class="btnCenterToolsContainer partSideNavToolsSmooth">
                        <button type="submit" form="formImageSmoothId" class="partSideNavToolsSmooth" value="gaussian_blur" name="blurButton" style=" font-family: 'Nunito', sans-serif; font-weight:700;">Gaussian Blur</button>
                        </div>

                        <hr class="partSideNavToolsSmooth">

                        <div class="titleInnerSectionTools partSideNavToolsSmooth">Median Blur</div>
                        <div class="row partSideNavToolsSmooth" style="margin-left:10px;">
                            <label class="partSideNavToolsSmooth" for="textInputKernelMedianId" style="margin-right: 3px;">Number of pixels in kernel:</label>
                            <input class="partSideNavToolsSmooth" type="number" id="textInputKernelMedianId" name="textInputKernelMedianValue" size="3">
                        </div>

                        <div class="btnCenterToolsContainer partSideNavToolsSmooth">
                        <button type="submit" form="formImageSmoothId" class="partSideNavToolsSmooth" value="median_blur" name="blurButton" style=" font-family: 'Nunito', sans-serif; font-weight:700;"> Median Blur</button>
                        </div>

                    </form>
                </div>

                <div id="sideNavToolsEdge" class="sidenav-tools partSideNavToolsEdge">
                    <button id="buttonCloseEdge" class="closebtn" onclick="closeSideNavTools(this)">&times;</button>

                    <form class="partSideNavToolsEdge" id="formImageEdgeDetectingId" action="{{ url_for('operation', filename=filename, mode='edge_detecting') }}" method="POST" enctype="multipart/form-data">

                        <div class="titleSectionTools partSideNavToolsEdge">Edge Detection</div>

                        <div class="row partSideNavToolsEdge" style="margin-left:10px;">

                            <div class="column partSideNavToolsEdge">
                                <label class="partSideNavToolsEdge" for="textInputMinValueEdgeId" style="margin-right: 3px; margin-bottom: 5px;">Min value:</label>
                                <label class="partSideNavToolsEdge" for="textInputMaxValueEdgeId" style="margin-right: 3px;">Max value:</label>
                            </div>

                             <div class="column partSideNavToolsEdge">
                                <input class="partSideNavToolsEdge" type="number" id="textInputMinValueEdgeId" name="textInputMinValueEdge" size="3" style="margin-bottom: 5px;">
                                <input class="partSideNavToolsEdge" type="number" id="textInputMaxValueEdgeId" name="textInputMaxValueEdge" size="3">
                            </div>
                        </div>

                        <div class="btnCenterToolsContainer partSideNavToolsEdge">
                            <button type="submit" form="formImageEdgeDetectingId" class="partSideNavToolsEdge" value="edge_detecting_manual" name="edgeDetectionButton" style=" font-family: 'Nunito', sans-serif; font-weight:700;">Detect</button>
                        </div>

                        <hr class="partSideNavToolsEdge">

                        <button type="submit" class="btn-images-small with_text partSideNavToolsEdge" value="template_1" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_1.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#1</button>
                        <button type="submit" class="btn-images-small with_text partSideNavToolsEdge" value="template_2" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_2.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#2</button>
                        <button type="submit" class="btn-images-small with_text partSideNavToolsEdge" value="template_3" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_3.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#3</button>
                        <button type="submit" class="btn-images-small with_text partSideNavToolsEdge" value="template_4" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_4.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#4</button>
                        <button type="submit" class="btn-images-small with_text partSideNavToolsEdge" value="template_5" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_5.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#5</button>
                        <button type="submit" class="btn-images-small with_text partSideNavToolsEdge" value="template_6" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_6.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#6</button>
                        <button type="submit" class="btn-images-small with_text partSideNavToolsEdge" value="template_7" name="edgeDetectionButton" style="background-image: url({{url_for('static', filename='/resources/edge_detection_template_8.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;">#7</button>
                    </form>
                </div>

                <div id="sideNavToolsGradient" class="sidenav-tools partSideNavToolsGradient">
                    <button id="buttonCloseGradient" class="closebtn" onclick="closeSideNavTools(this)">&times;</button>

                    <div class="titleSectionTools partSideNavToolsGradient">Gradients</div>

                    <form class="partSideNavToolsGradient" id="formImageGradientId" action="{{ url_for('operation', filename=filename, mode='gradient') }}" method="POST" enctype="multipart/form-data">

                        <div class="titleImageSectionTools partSideNavToolsGradient">X Direction</div>
                        <button type="submit" class="btn-images-big without_text partSideNavToolsGradient" value="x_direction" name="gradientButton" style="background-image: url({{url_for('static', filename='/resources/gradient_x_direction.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>
                        <div class="titleImageSectionTools partSideNavToolsGradient">Y Direction</div>
                        <button type="submit" class="btn-images-big without_text partSideNavToolsGradient" value="y_direction" name="gradientButton" style="background-image: url({{url_for('static', filename='/resources/gradient_y_direction.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>
                        <div class="titleImageSectionTools partSideNavToolsGradient">X & Y Direction</div>
                        <button type="submit" class="btn-images-big without_text partSideNavToolsGradient" value="x_y_direction" name="gradientButton" style="background-image: url({{url_for('static', filename='/resources/gradient_x_y_direction.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>

                    </form>
                </div>

                <div id="sideNavToolsFilter" class="sidenav-tools partSideNavToolsFilter">

                    <button id="buttonCloseFilter" class="closebtn" onclick="closeSideNavTools(this)">&times;</button>

                    <form class="partSideNavToolsFilter" id="formImageFilterId" action="{{ url_for('operation', filename=filename, mode='filter') }}" method="POST" enctype="multipart/form-data">

                        <div class="titleSectionTools partSideNavToolsFilter">Filters</div>
                        <div class="titleImageSectionTools partSideNavToolsFilter">Cartoon</div>
                        <button type="submit" class="btn-images-small without_text partSideNavToolsFilter" value="cartoon_filter" name="filterButton" style="background-image: url({{url_for('static', filename='/resources/cartoon_filter.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>
                        <div class="titleImageSectionTools partSideNavToolsFilter">Watercolor</div>
                        <button type="submit" class="btn-images-small without_text partSideNavToolsFilter" value="watercolor_filter" name="filterButton" style="background-image: url({{url_for('static', filename='/resources/watercolor_filter.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>
                        <div class="titleImageSectionTools partSideNavToolsFilter">Sketch#1</div>
                        <button type="submit" class="btn-images-small without_text partSideNavToolsFilter" value="sketch_filter" name="filterButton" style="background-image: url({{url_for('static', filename='/resources/sketch_filter.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>
                        <div class="titleImageSectionTools partSideNavToolsFilter">Sketch#2</div>
                        <button type="submit" class="btn-images-small without_text partSideNavToolsFilter" value="black_white_sketch_filter" name="filterButton" style="background-image: url({{url_for('static', filename='/resources/black_white_sketch_filter.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>
                        <div class="titleImageSectionTools partSideNavToolsFilter">Colored sketch</div>
                        <button type="submit" class="btn-images-small without_text partSideNavToolsFilter" value="colored_sketch_filter" name="filterButton" style="background-image: url({{url_for('static', filename='/resources/colored_sketch_filter.jpg')}}); font-family: 'Nunito', sans-serif; font-weight:700;"></button>

                    </form>
                </div>

              </div>

        <div class="main_section">

            <div class="workspace">

                {% if filename != 'None' %}
                    <img class="image_workspace" src="{{url_for('upload', filename=filename)}}">
                {% else %}
                    <div class="text_workspace">
                        <p style="font-family: 'Nunito', sans-serif; font-weight: 700;">Image is not selected!</p>
                    </div>
                {% endif %}

            </div>

            <div class="bottom_side_menu top_side_shadow">

            </div>
        </div>
    </main>

<script>

function openSideNavTools(x) {

    if(x.id == "buttonColorSpace"){
        document.getElementById("sideNavToolsColorSpace").style.width = "250px";

    }else if(x.id == "buttonTransformation"){
        document.getElementById("sideNavToolsTransformation").style.width = "250px";

    }else if(x.id == "buttonSmooth"){
        document.getElementById("sideNavToolsSmooth").style.width = "250px";

    }else if(x.id == "buttonEdge"){
        document.getElementById("sideNavToolsEdge").style.width = "250px";

    }else if(x.id == "buttonGradient"){
        document.getElementById("sideNavToolsGradient").style.width = "250px";

    }else if(x.id == "buttonFilter"){
        document.getElementById("sideNavToolsFilter").style.width = "250px";
    }
}

function closeSideNavTools(x) {

    if(x.id == "buttonCloseColorSpace"){
        document.getElementById("sideNavToolsColorSpace").style.width = "0";

    }else if(x.id == "buttonCloseTransformation"){
        document.getElementById("sideNavToolsTransformation").style.width = "0";

    }else if(x.id == "buttonCloseSmooth"){
        document.getElementById("sideNavToolsSmooth").style.width = "0";

    }else if(x.id == "buttonCloseEdge"){
        document.getElementById("sideNavToolsEdge").style.width = "0";

    }else if(x.id == "buttonCloseGradient"){
        document.getElementById("sideNavToolsGradient").style.width = "0";

    }else if(x.id == "buttonCloseFilter"){
        document.getElementById("sideNavToolsFilter").style.width = "0";
    }
}

function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}


window.onclick = function(event) {

  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];

      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}


window.onclick = function(event) {

  if ((!event.target.matches('.partSideNavToolsColorSpace') && !event.target.matches('#buttonColorSpace'))  && document.getElementById("sideNavToolsColorSpace").style.width == "250px") {
    document.getElementById("sideNavToolsColorSpace").style.width = "0";

  }else if ((!event.target.matches('.partSideNavToolsTransformation') && !event.target.matches('#buttonTransformation')) && document.getElementById("sideNavToolsTransformation").style.width == "250px"){
    document.getElementById("sideNavToolsTransformation").style.width = "0";

  }else if ((!event.target.matches('.partSideNavToolsSmooth') && !event.target.matches('#buttonSmooth')) && document.getElementById("sideNavToolsSmooth").style.width == "250px"){
    document.getElementById("sideNavToolsSmooth").style.width = "0";

  }else if ((!event.target.matches('.partSideNavToolsEdge') && !event.target.matches('#buttonEdge')) && document.getElementById("sideNavToolsEdge").style.width == "250px"){
    document.getElementById("sideNavToolsEdge").style.width = "0";

  }else if ((!event.target.matches('.partSideNavToolsGradient') && !event.target.matches('#buttonGradient')) && document.getElementById("sideNavToolsGradient").style.width == "250px"){
    document.getElementById("sideNavToolsGradient").style.width = "0";

  }else if ((!event.target.matches('.partSideNavToolsFilter') && !event.target.matches('#buttonFilter')) && document.getElementById("sideNavToolsFilter").style.width == "250px"){
    document.getElementById("sideNavToolsFilter").style.width = "0";
  }
}

</script>

</body>

</html>