<!DOCTYPE html>
<html lang="en">
<head>
    <title>Image Editor - ePixxel</title>

    <link rel="stylesheet" href="../css_styles/start_page.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css_styles/start_page.css')}}">

    <style>
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
        }
    </style>
</head>

<body>

    <header class="site-nav-transparent" id=site_nav>
        <div class="navbar centered-column-width"  id="mynav">
            <a href="{{ url_for('start_page')}}" class="nav_logo"></a>
            <div class="nav_space"></div>
            <a href="{{ url_for('main_page', image_name='None') }}" class="nav_button" style="font-family: 'Nunito', sans-serif; font-weight:300;">Get Started</a>
            <a href="#sign_in" class="nav_link" style="font-family: 'Nunito', sans-serif; font-weight:300;">Sign in</a>
            <a href="#sign_up" class="nav_link" style="font-family: 'Nunito', sans-serif; font-weight:300;">Sign up</a>
          </div>
    </header>

    <div class="welcome_image">
        <img src="{{url_for('static', filename='/resources/logo_without_text.png')}}" alt="Logo" class="logo_image">
        
        <div class="description_welcome_text">
            <p style="font-family: 'Nunito', sans-serif; font-weight: 300;">Unlock the potential of
                your images with new technologies. Here and now.</p>
        </div>

        <a href="{{ url_for('main_page', image_name='None') }}" class="btn" style="font-family: 'Nunito', sans-serif; font-weight:300;">Get started</a>
      </div>

    <main>
        <section class="section section-blue">
            <div class="centered-column-width section_grid padding_section_grid" >

                <div class="section_align_right_text section_text">
                    <h2 class="section_heading" style="font-size: 30px;">About App</h2>
                    <p class="section_main_text">Welcome to Pixlr the Online Photo Editor that lets you edit photos and
                        create great designs right in your browser for Free. Experience next level, intuitive photo
                        editing and graphical design with AI-powered tools for quick yet professional edits. Our editor
                        opens almost any image format such as PSD (Photoshop), PXD, JPEG, PNG (transparent), WebP, SVG
                        and more. Start from an empty canvas or select one of our professionally crafted templates.
                        Say goodbye to boring and repetitive editing tasks with AI design
                        tools. One click is all it takes to remove backgrounds perfectly from your photos, cut out
                        every strand of hair and more! Let AI and Machine Learning take your photo editing and
                        background removal to a new level!
                    </p>
                </div>

                <figure class="section_align_left_figure section_figure">
                    <img class="section_image" src="{{url_for('static', filename='/resources/example_app.png')}}">
                </figure>

            </div>
        </section>

        <section class="section section-purple">
            <div class="centered-column-width section_grid padding_section_grid">

                <div class="section_align_left_text section_text">
                    <h2 class="section_heading" style="font-size: 30px;">Changing Colorspaces</h2>
                    <p class="section_main_text">Fun is literally BeFunky's middle name (no, really! be-FUN-ky) With
                        BeFunky's Photo Editor, you can play with hundreds of amazing photo effects that you can't find
                        anywhere else, like our world-famous Cartoonizer®, oil painting, and Digital Art effects.
                        You can also add extra flair to your photo with our huge library of customizable graphics,
                        frames, overlays, and textures. And if adding text to photos is your thing, our Photo Editor
                        has tons of fonts for you to choose from, including access to Google Fonts and any of the fonts
                        stored on your computer! Taking pictures is fun – shouldn't your photo editor be fun, too?
                    </p>
                </div>

                <figure class="section_align_right_figure section_figure">
                    <img class="section_image" src="{{url_for('static', filename='/resources/example_colorspace.png')}}">
                </figure>

            </div>
        </section>

        <section class="section section-blue">
            <div class="centered-column-width section_grid padding_section_grid">

                <div class="section_text section_align_right_text">
                    <h2 class="section_heading" style="font-size: 30px;">Geometric Transformations</h2>
                    <p class="section_main_text">Simpler steps, equally stunning results. Just toggle on and off, or
                        drag sliders from left to right to edit your photos. Achieving unique aesthetic photo effects
                        becomes so much simpler with Pixlr.
                        Simpler steps, equally stunning results. Just toggle on and off, or
                        drag sliders from left to right to edit your photos. Achieving unique aesthetic photo effects
                        becomes so much simpler with Pixlr.
                    </p>
                </div>

                <figure class="section_align_left_figure section_figure">
                    <img class="section_image" src="{{url_for('static', filename='/resources/example_geometric_transformation.png')}}">
                </figure>

            </div>
        </section>

        <section class="section section-purple">
            <div class="centered-column-width section_grid padding_section_grid">

                <div class="section_text section_align_left_text">
                    <h2 class="section_heading" style="font-size: 30px;">Smoothing</h2>
                    <p class="section_main_text">Photo editing is the art of enhancing an image to make it look more
                        like what you saw with your eyes. While digital cameras are great tools, capable of capturing
                        a myriad of images, they're also notorious for producing muted colors, low contrast, and
                        off-balanced lighting. Photo editing helps correct these issues to bring out the true beauty
                        of your photo the way you remember it. Use photo editing to bring out the vividness of colors
                        adjust exposure and get the lighting just right, remove unwanted objects, add photo effects to
                        create a vintage look, and more. The possibilities are endless when it comes to editing photos
                        with BeFunky!
                    </p>
                </div>

                <figure class="section_align_right_figure section_figure">
                    <img class="section_image" src="{{url_for('static', filename='/resources/example_smothing.png')}}">
                </figure>

            </div>
        </section>

        <section class="section section-blue">
            <div class="centered-column-width section_grid padding_section_grid">

                <div class="section_text section_align_right_text">
                    <h2 class="section_heading" style="font-size: 30px;">Edge Detection</h2>
                    <p class="section_main_text">Fun is literally BeFunky's middle name (no, really! be-FUN-ky)
                         With BeFunky's Photo Editor, you can play with hundreds of amazing photo
                          effects that you can't find anywhere else, like our world-famous Cartoonizer®,
                           oil painting, and Digital Art effects. You can also add extra flair to your 
                           photo with our huge library of customizable graphics, frames, overlays, and textures.
                            And if adding text to photos is your thing, our Photo Editor has tons of fonts for
                             you to choose from, including access to Google Fonts and any of the fonts stored 
                             on your computer! Taking pictures is fun – shouldn't your photo editor be fun, too?
                            </p>
                </div>

                <figure class="section_align_left_figure section_figure">
                    <img class="section_image" src="{{url_for('static', filename='/resources/example_edge_detection.png')}}">
                </figure>

            </div>
        </section>

        <section class="section section-purple">
            <div class="centered-column-width section_grid padding_section_grid">

                <div class="section_text section_align_left_text">
                    <h2 class="section_heading" style="font-size: 30px;">Gradients</h2>
                    <p class="section_main_text">Photo editing is tough: it requires time, patience, and technical
                        chops, not to mention complicated, expensive software. With BeFunky, you can turn a photo you
                        like into a photo you love – no technical savvy or pricey software required. You'll find
                        everything you need to edit and create what you're envisioning with your photos using tools
                        that are powerful yet simple for everyone. And if you're looking for an even more convenient
                        way to edit, BeFunky Photo Editor has smart enhancement tools to retouch portraits, remove
                        backgrounds, and fix common photography problems like poor lighting, digital noise, and
                        fuzziness – all with just a single click!
                    </p>
                </div>

                <figure class="section_align_right_figure section_figure">
                    <img class="section_image" src="{{url_for('static', filename='/resources/example_gradient.png')}}">
                </figure>

            </div>
        </section>

        <section class="section section-blue">
            <div class="centered-column-width section_grid padding_section_grid">

                <div class="section_text section_align_right_text">
                    <h2 class="section_heading" style="font-size: 30px;">Filters</h2>
                    <p class="section_main_text">BeFunky is a uniquely powerful online Photo Editor. Think Photoshop,
                        but simplified for everyday users. With BeFunky, you can easily create stunning,
                        professional-quality images with a single click. The process might be simple, but the results
                        are incredibly sophisticated. Thanks to BeFunky, there's no need to choose between a powerful,
                        do-it-all tool and an easy, user-friendly interface. We've got it all!
                    </p>
                </div>

                <figure class="section_align_left_figure section_figure">
                    <img class="section_image" src="{{url_for('static', filename='/resources/example_sketch.png')}}">
                </figure>

            </div>
        </section>

    </main>

    <script type="text/javascript">
        var myNav = document.getElementById('site_nav');

        window.onscroll = function () { 
            if (window.scrollY > 50 ) {
                myNav.classList.add("site-nav-scrolling");
                myNav.classList.remove("site-nav-transparent");
                console.log("yes");
            } 
            else {
                myNav.classList.add("site-nav-transparent");
                myNav.classList.remove("site-nav-scrolling");
                console.log("no");
            }
        };
    </script>

</body>
</html>